name: Sync to Hugging Face
on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE 'YourUser/watchasian' with your actual Space name
        run: git push --force https://USER:$HF_TOKEN@huggingface.co/spaces/ameer0khan/watchasian main
